psycopg2==2.9.10
itemadapter~=0.10.0
setuptools~=75.6.0
pandas~=2.2.3
ta~=0.11.0
numpy~=2.0.2
SQLAlchemy~=2.0.36
matplotlib~=3.10.0
Flask~=3.1.0
reportlab~=4.2.5
pillow~=11.0.0
tensorflow~=2.18.0
scikit-learn~=1.6.0
sequential~=1.0.0
keras~=3.7.0
stock_indicators~=1.3.1